<footer>
    <p style="color: #006699; font-size: 18px;">CÔNG TY TNHH ẤN LĨNH</p>
    <p><b>Địa chỉ:</b>11/59 An Dương Vương, Thành Phố Huế - Vp giao dịch: 8/33 An Dương Vương - Tp Huế</p>
    <p><b>Điện thoại:</b>(054) 3 502 882 - (054) 3 845840 - <b>Fax: </b>(054) 054 3845840</p>
    <p>	<b>Email:</b><a style="color:#0099CC" href="mailto:alicohue@yahoo.com.vn">alicohue@yahoo.com.vn</a>-<b>Website:</b><a style="color:#0099CC" target="_blank" href="http://alicohue.com">http://alicohue.com</a></p>
</footer>