<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hồ sơ, năng lực công ty</title>
	<!-- Latest compiled and minified CSS & JS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- <script src="/code.jquery.com/jquery.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/menu.css">
	<link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
	<div class="main-content">
		<!--header-->
		<%- include('partitions/header.ejs') %>
			<div class="col-md-9 col-xs-9 col-sm-9 right-bar">	
				<div>
					<div id="title">
						<p>CÔNG TY TNHH ẤN LĨNH</p>
					</div>
					<div class="main">
						<div class="image">
						<div id="big-img">
							<img id="big" src="/images/1.jpg" alt="">
						</div>
						<div id="small-img">
							<img class="hoso1" id="img-1" src="/images/1.jpg" alt="">
							<img class="hoso2" id="img-2" src="/images/2.jpg">
							<img class="hoso3" id="img-3" src="/images/3.jpg">
						</div>
					</div>

					<div class="describe" style="height: auto; float:right; width:420px;">
                    	
                  		<div  style="min-height:26px; clear: both;">
                            <div style=" height:26px; float:left; width:125px;">
                            	<div style="height:20px; width:20px; float:left; text-align:center">
                                	<img  style="padding-top:3px" src="/images/hoso_arrow1.png">
                                </div>
                                <div style="height:20px; margin-left:5px; width:100px; float:left; color:#666666">Loại hình cty:</div>
                            </div>
                            <div style="min-height:26px; width:280px; float:left; margin-left:10px; margin-bottom:6px;padding-top:1px">Công ty thương mại</div>
                     	 </div>
                        <div style="min-height:26px; clear: both;">
                            <div style=" height:26px; float:left; width:125px;">
                            	<div style="height:20px; width:20px; float:left; text-align:center">
                                	<img style="padding-top:3px" src="/images/hoso_arrow1.png">
                                </div>
                                <div style="height:20px; margin-left:5px; width:100px; float:left; color:#666666">SP/ DV chính:</div>
                            </div>
                            <div style="min-height:26px; width:280px; float:left; margin-left:10px;  margin-bottom:6px;padding-top:1px">Camera quan sát, thiết bị báo động chống trộm, thiết bị kiểm soát ra vào, kim thu sét, dây dẫn thoát sét, tủ chống sét, tb chống sét lan truyền &amp; các thiết bị PCCC. 
                            </div>
                        </div>
                         
                         <div style="min-height:26px; clear: both;">
                            <div style=" height:26px; float:left; width:125px;">
                            	<div style="height:20px; width:20px; float:left; text-align:center">
                                	<img style="padding-top:3px" src="/images/hoso_arrow1.png">
                                </div>
                                <div style="height:20px; margin-left:5px; width:100px; float:left; color:#666666; padding-top:1px">Năm thành lập:</div>
                            </div>
                            <div style="min-height:26px; width:280px; float:left; margin-left:10px; padding-top:2px">
                            </div>
                        </div>
                         <div style="min-height:26px; clear: both;">
                            <div style=" height:26px; float:left; width:125px;">
                            	<div style="height:20px; width:20px; float:left; text-align:center">
                                	<img style="padding-top:3px" src="/images/hoso_arrow1.png">
                                </div>
                                <div style="height:20px; margin-left:5px; width:100px; float:left; color:#666666; padding-top:1px">Mã số thuế:</div>
                            </div>
                            <div style="min-height:26px; width:280px; float:left; margin-left:10px; padding-top:2px">3300860315
                            </div>
                        </div>
                        <div style="min-height:26px; clear: both;">
                            <div style=" height:26px; float:left; width:125px;">
                            	<div style="height:20px; width:20px; float:left; text-align:center">
                                	<img style="padding-top:3px" src="/images/hoso_arrow1.png">
                                </div>
                                <div style="height:20px; margin-left:5px; width:100px; float:left; color:#666666; padding-top:1px">Số nhân viên:</div>
                            </div>
                            <div style="min-height:26px; width:280px; float:left; margin-left:10px; padding-top:2px">
                            </div>
                        </div>
                        
                        <div style="min-height:26px; clear: both;">
                            <div style=" height:26px; float:left; width:125px;">
                            	<div style="height:20px; width:20px; float:left; text-align:center">
                                	<img style="padding-top:3px" src="/images/hoso_arrow1.png">
                                </div>
                                <div style="height:20px; margin-left:5px; width:100px; float:left; color:#666666; padding-top:1px">Doanh thu/ năm:</div>
                            </div>
                            <div style="min-height:26px; width:280px; float:left; margin-left:10px; padding-top:2px">Bí mật/ không public
                            </div>
                        </div>
                         <div style="min-height:26px; clear: both;">
                            <div style=" height:26px; float:left; width:125px;">
                            	<div style="height:20px; width:20px; float:left; text-align:center">
                                	<img style="padding-top:3px" src="/images/hoso_arrow1.png">
                                </div>
                                <div style="height:20px; margin-left:5px; width:100px; float:left; color:#666666; padding-top:1px">Thị trường chính:</div>
                            </div>
                            <div style="min-height:26px; width:280px; float:left; margin-left:10px; padding-top:2px"> Toàn Quốc
                            </div>
                        </div>
                    </div>
					</div>
                    <div class="small-title">
						<p>Chứng chỉ, giấy chứng nhận, giấy xác nhận, giải thưởng,...</p>
					</div>
					<div class="small-title">
						<p>Năng lực công ty</p>
					</div>
				</div>
			</div>
		</div>
		<!--footer-->
		<%- include('partitions/footer.ejs') %>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.hoso1').click(function(){
				$('#big').attr('src',"mage/1.jpg");
			});
			$('.hoso2').click(function(){
				$('#big').attr('src',"/images/2.jpg")
			});
			$('.hoso3').click(function(){
				$('#big').attr('src',"/images/3.jpg")
			});
		});
	</script>
</body>
</html>