.title {
	color: #468264;
	text-align: center;
}
.edit-form, .box-body {
	margin: 0 auto;
	overflow: hidden;
}
.content {
	width: 100%;
}

.contentRight {
	width: 60%;
	margin: 0 auto;
}
.btn-primary {
	border-radius: 2px;
	background-color: #4f8e6e;
}
.btn-primary:hover {
	background-color: #4a7b62;
}
#exampleInputFile1 {
	height: 30px;
	border: 1px solid #ccc;
}
.form-control, #exampleInputFile1 {
	border-radius: 2px;
}
.setting-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #468264;
}
.level>li {
	width: 119px;
}