.delete {
	background-color: #d9534f;
}
.delete:hover{
	background-color: #c9302c;
}
.delete a{
	color: white;
	text-decoration: none;
}
.edit {

	background-color: gray;
}
.edit:hover{
	background-color: #595a5a;
}
.delete, .edit {
	width: 55px;
	height: 28px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: white;
	margin-left: 5px;
}
.cate-product {
	margin-top: 20px;
}